{% extends 'base.html.twig' %}

{% block title %}E-mail Footing Club{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">                  
                    <div class="col-sm-6">
                        <h1>Gestion des de-mails</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">Acceuil</a></li>
                            <li class="breadcrumb-item"><a href="{{ path('educateurs') }}">Liste des e-mails</a></li>
                            <li class="breadcrumb-item active">Details des e-mails éducateurs</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-12">
              {% for label, messages in app.flashes(['message', 'warning']) %}
                  {% for message in messages %}
                      <div class="alert alert-success alert-dismissible flash-{{ label }}">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h5><i class="icon fas fa-check"></i> Alert!</h5>                        
                          {{ message }}
                      </div>
                  {% endfor %}
              {% endfor %}
            </div>            
          </div>
          <div class="row">
            <div class="col-md-2">   
              <a href="{{ path('educateurs') }}" class="btn btn-primary btn-block mb-3">Retour</a>              
              <div class="card">                
                <div class="card-header">
                  <h3 class="card-title">Detail e-mail</h3>
    
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                  </div>
                </div>
                <div class="card-body p-0">
                  <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                      <a href="#" class="nav-link">
                        <i class="fa-solid fa-envelopes-bulk"></i> Lecture d'e-mail
                      </a>
                    </li>
                    </li>
                  </ul>
                </div>
                <!-- /.card-body -->
              </div>
            </div>
            <!-- /.col -->
            <div class="col-md-10">
              <div class="card card-primary card-outline">
                <div class="card-header">
                  <h3 class="card-title">Detail d'e-mail</h3>
                  <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                  <div class="mailbox-read-info">
                    <h5>Message de {{ result.prenom }} {{ result.nom }}</h5>
                    <h6>A: {{ result.email }}
                      <span class="mailbox-read-time float-right"><b>{{ result.dateEnvoi|date('d-m-Y H:i:s') }}</b></span></h6>
                  </div>
                  <!-- /.mailbox-read-info -->
                  <div class="mailbox-controls with-border text-center">
                    <!-- /.btn-group -->
                  </div>
                  <!-- /.mailbox-controls -->
                  <div class="mailbox-read-message">
                    <p>Bonjour {{ result.prenom }},</p>
    
                    <p>{{ result.message }}</p>
    
                    <p>Cordialement, <br>{{ result.prenom }}</p>
                  </div>
                  <!-- /.mailbox-read-message -->
                </div>
                <!-- /.card-body -->
    
                <!-- /.card-body -->
                <div class="card-footer p-0">
                  <div class="mailbox-controls">
                    <div class="float-right">
                      1-50/200
                      <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm">
                          <i class="fas fa-chevron-left"></i>
                        </button>
                        <button type="button" class="btn btn-default btn-sm">
                          <i class="fas fa-chevron-right"></i>
                        </button>
                      </div>
                      <!-- /.btn-group -->
                    </div>
                    <!-- /.float-right -->
                  </div>
                </div>
              </div>
              <!-- /.card -->
            </div>
          </div>
          <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    {% block javascripts %}   
            
    <script>
        $(function () {
          //Enable check and uncheck all functionality
          $('.checkbox-toggle').click(function () {
            var clicks = $(this).data('clicks')
            if (clicks) {
              //Uncheck all checkboxes
              $('.mailbox-messages input[type=\'checkbox\']').prop('checked', false)
              $('.checkbox-toggle .far.fa-check-square').removeClass('fa-check-square').addClass('fa-square')
            } else {
              //Check all checkboxes
              $('.mailbox-messages input[type=\'checkbox\']').prop('checked', true)
              $('.checkbox-toggle .far.fa-square').removeClass('fa-square').addClass('fa-check-square')
            }
            $(this).data('clicks', !clicks)
          })
      
          //Handle starring for font awesome
          $('.mailbox-star').click(function (e) {
            e.preventDefault()
            //detect type
            var $this = $(this).find('a > i')
            var fa    = $this.hasClass('fa')
      
            //Switch states
            if (fa) {
              $this.toggleClass('fa-star')
              $this.toggleClass('fa-star-o')
            }
          })
        })
      </script>


    
    {% endblock %}

{% endblock %}