{% extends 'base.html.twig' %}

{% block title %}Contacts Footing Club{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Liste des Contacts par catégorie</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">Acceuil</a></li>
                            <li class="breadcrumb-item active">Contacts par catégories</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <form id="statutsForm" action="" method="get">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <a href="{{ path('dashboard') }}" class="btn btn-sm btn-primary right"><i class="fa-solid fa-circle-left"></i> Retour</a>
                                        </div>
                                        <div class="col-sm-7">
                                            <div class="form-group row">
                                                <label for="dateDebut" class="col-sm-3 col-form-label">Catégories:</label>
                                                <div class="col-sm-8">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <select class="custom-select form-control" id="statuts" name="id" onchange="submitStatuts()">
                                                                <option value="0" {% if req == 0 %}selected{% endif %} >Choisissez une catégorie</option>
                                                                {% for categorie in categories %}
                                                                    <option value="{{ categorie.id }}" {% if req == categorie.id %}selected{% endif %}>{{ categorie.nom }} ({{ categorie.code }})</option>
                                                                    {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 float-md-right">
                                        </div>
                                        <div class="col-sm-1">
                                            <button type="submit" class="btn btn-sm btn-block btn-success">
                                                <i class="fa-solid fa-magnifying-glass"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="card-body">
                                <table id="example1" class="table table-bordered table-striped table-sm"  style="font-size: 12px">
                                    <thead class="text-white text-center bg-gradient-gray-dark">
                                        <tr>
                                            <th>#</th>
                                            <th>Nom</th>
                                            <th>Prénom</th>
                                            <th>Téléphone</th>
                                            <th>E-mail</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if contacts|length > 0 %}
                                            {% set compteur = 1 %}
                                            {% for contact in contacts %}
                                                <tr>
                                                    <td width="50px" class="pl-5">{{ compteur }}</td>
                                                    <td width="200px" class="pl-5">{{ contact.nom }}</td>
                                                    <td width="300px" class="pl-5">{{ contact.prenom }}</td>
                                                    <td width="200px" class="pl-5">{{ contact.telephone }}</td>
                                                    <td width="400px" class="pl-5">{{ contact.email }}</td>
                                                </tr>
                                                {% set compteur = compteur + 1 %}
                                            {% endfor %}
                                        {% else %}
                                            <tr>
                                                <td colspan="4" class="text-center">Aucun licencié trouvé.</td>
                                            </tr>
                                        {% endif %}
                                    </tbody>
                                    <tfoot  class="text-white text-center bg-gradient-gray-dark">
                                        <th>#</th>
                                        <th>Nom</th>
                                        <th>Prénom</th>
                                        <th>Téléphone</th>
                                        <th>E-mail</th>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
{% endblock %}

